.container {

    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.form-login-container {
    background: #f4fefd;
    height: 75%;
    width: 45%;
    border-radius: 10px;
    box-shadow: 0 0 1em #61e0ba;
    border: 1px solid #3b8e7f;
}