
body {

  padding: 0%;
  margin: 0%;

}

.general-container {

  background-image: linear-gradient(to right, #1b2223,#3a4f50, #0ef6cc);
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: revert;
  flex-direction: row;
  justify-content: space-between;

}

.login_icon_d20_container {
  position: relative;
  height: 100%;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_icon_d20 {
  height: 148px;
  width: auto;
}